## Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- **Popular languages for Data Science**
- **Machine learning algorithms**
- **Data visualization techniques**
- **Big data processing**
- **Statistical analysis methods**

### Some of the popular languages that Data Scientists use are:
1. Python
2. R

### Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas

|Data Science Tools|
|-|
|- Jupyter Notebook|
|- RStudio|
|- Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5 # This a simple arithmetic expression to mutiply then add integers

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
x = 200
y = x//60
print(y)

3

## Author: Yen